@model IEnumerable<QuotesWebApp.Models.QuoteModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Quotes</h1>

<p>
    <a asp-action="Create">Post a Quote</a>
</p>
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayName("Quote")
            </th>
            <th>
                @Html.DisplayName("Author")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QuoteText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuoteAuthor)
            </td>
            @*<td>
            <a asp-action="Details" asp-route-id="@item.Id">Details</a>
        </td>*@
            
            <td>
                @if (User.Identity.IsAuthenticated)
                {
                  <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>

                  <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }
            </td>
        </tr>
        }
    </tbody>
</table>

@section Scripts {
    
    <script type="text/javascript">
        function openSuccessModal (strMessage){
        var myDiv = document.getElementById("MyModalSuccessAlertBody");
        myDiv.innerHTML = strMessage;
        $('#myModalSuccess').modal('show');
        }
        $(document).ready(function() {
        var msg = "@TempData["SuccessMessage"]";
        if (msg)
        openSuccessModal(msg);
        });
    </script>
}